body {
  margin: 0;
  background-color: rgba(215, 114, 132, 0.2);
  opacity: 10%;
}
body * {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

/* Navbar container */
header .nav-spacer {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-evenly;
  max-width: 800px;
  margin: 0 auto;
}
.navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  
}

/* Links inside the navbar */
.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* The dropdown container */
/* .dropdown {
  float: left;
  overflow: hidden;
} */
/* .navbar a,
.dropdown {
  margin-right: 30px;
} */

/* Dropdown button */
.dropdown .dropbtn,
.resume .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn,
.resume:hover .dropbtn {
  background-color: red;
}
.resume a {
  padding-left: 0;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  margin: 0;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
#title {
  justify-self: center;
  align-self: end;
  font-size: 2.5em;
  font-weight: normal;
  font-family: 'Monoton', cursive;
  margin: 50px 0 0 0;
}

.content {
  margin: 0 10px;
  max-width: 800px;
}
/* about me */
#gocery{
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
.section-title {
  font-size: 2.5em;
  margin: 0;
}
#about-me-content {
  font-size: 1.5em;
  text-align: justify;
}
#selfie {
  float: right;
  margin-left: 10px;
  margin-top: 30px;
  border-radius: 50%;
  max-width: 150px;
}

/* projects */

.project-description {
  text-align: justify;
  font-size: 1.5em;
}
.project-title {
  font-weight: 800;
  margin-top: 50px;
  font-size: 2em;
}
#gocery .project-title{
  margin-top: 25px;
}
.screen-shot {
  max-height: 100%;
  max-width: 100%;
}
.subtitle {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0px;
}
.details {
  margin: 5px 10px 0 0;
  font-size: 1.2em;
}
p.project-description {
  margin: 0;
}

p.project-description > a {
  font-size: 0.8em;
}

.description-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

footer {
  border-top: 1px solid black;
  margin: 20px 0;
}

.footer-spacer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  font-size: 2em;
  color: #333;
  height: 80px;
  max-width: 800px;
  margin: 10px auto;
}
.footer-spacer h2 {
  margin-bottom: 0;
}
.contact{
  color: #333;
  
}


@media only screen and (min-width: 800px) {
  .content {
    margin: 0 auto;
  }
  .centering {
    height: 100%;
    float: left;
  }
  .screen-shot {
    max-width: 600px;
  }
  .contact {
    margin-left: 0;
  }
}
@media only screen and (max-width: 515px) {
  /* .dropdown,
  .resume a {
    margin-right: 10px;
    padding: 14px 5px;
  } */
  .dropdown-content a{
    padding-left: 10px;
  }
  .dropdown,
  .resume a {
    margin-right: 0;
    padding: 0;
  }
  .description-container {
    flex-flow: column;
  }
  .description-container .details {
    margin-top: 30px;
  }
  .subtitle {
    font-size: 1.3em;
}
@media only screen and (max-width: 360px) {
  #title,
  .section-title {
    font-size: 2.3em;
  }
  .nav-spacer {
    justify-content: space-between;
  }

  #selfie {
    width: 120px;
  }
}

@media only screen and (max-width: 310px) {
  .navbar a,
  .resume a {
    margin-right: 0;
    /* padding: 14px 5px; */
  }
  .resume a {
    padding-left: 0;
  }
}
